<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Report</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div className="main-info">
      <p><strong>Account number:</strong> ******7890</p>
      <p><strong>Bank name:</strong> bank two</p>
      <p><strong>IFSC code:</strong> code</p>
      <p>
        <strong>Total available balance:</strong> 98
      </p>
    </div>
    <br />
    <h4>
      Detailed transactions between 20th January 2021 and 21st January 2021
    </h4>
    <table class="report-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Deposits</th>
          <th>Withdrawals</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td>2021-01-21</td>
          <td></td>
          <td>1</td>
          <td>98</td>
        </tr>
        
        <tr>
          <td>2021-01-20</td>
          <td></td>
          <td>1</td>
          <td>99</td>
        </tr>
        
        <tr>
          <td>2021-01-20</td>
          <td>1</td>
          <td></td>
          <td>100</td>
        </tr>
        
        <tr>
          <td>2021-01-20</td>
          <td></td>
          <td>1</td>
          <td>99</td>
        </tr>
        
        <tr>
          <td>2021-01-20</td>
          <td>1</td>
          <td></td>
          <td>100</td>
        </tr>
        
        <tr>
          <td>2021-01-20</td>
          <td></td>
          <td>1</td>
          <td>99</td>
        </tr>
        
        <tr>
          <td>2021-01-20</td>
          <td>100</td>
          <td></td>
          <td>100</td>
        </tr>
        
      </tbody>
    </table>
  </body>
</html>